@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
  .font-outline-2 {
    -webkit-text-stroke: 0.01px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}